extends layout.pug

mixin estalecas(x)
    if x >= 0
        span.indicator-item.indicator-bottom.indicator-center.badge.badge-warning
            = `$${x}`
    else
        span.indicator-item.indicator-bottom.indicator-center.badge.badge-error
            = `-$${-x}`

mixin list_avatars(list)
    each p in list
        a(href=p.url target="_blank"): .flex.flex-col.gap-y-2.p-2.items-center
            .avatar.indicator
                +estalecas(p.estalecas)
                if p.monstro
                    span.indicator-item.badge.badge-secondary M
                if p.paredao
                    span.indicator-item.indicator-top.indicator-center.badge.badge-error paredão
                if p.anjo
                    span.indicator-item.indicator-top.indicator-start.badge.badge-info A
                if p.imune
                    span.indicator-item.indicator-bottom.indicator-start.badge.badge-info I
                .w-28.rounded-lg.ring.ring-primary
                    img(src=p.imagem loading="lazy" alt=p.nomePopular)
            .text-md.font-bold.text-center= p.nomePopular

mixin list_eliminados(list)
    each p in list
        a(href=p.url target="_blank"): .flex.flex-col.gap-y-2.p-2.items-center
            .avatar.indicator
                .w-16.rounded-lg.ring.ring-gray-800
                    img(src=p.imagem loading="lazy" alt=p.nomePopular)
            .text-sm.font-bold.text-center= p.nomePopular

block content
    .divider.divider-primary
    .w-full
        div.py-2
            p.text-2xl.text-center.py-2 Líder
            div.flex.flex-row.flex-wrap.gap-5.justify-center
                +list_avatars(lider)

        div.py-2
            p.text-2xl.text-center.py-2 VIP
            div.flex.flex-row.flex-wrap.gap-5.justify-center
                +list_avatars(vip)

        div.py-2
            p.text-2xl.text-center.py-2 Xepa
            div.flex.flex-row.flex-wrap.gap-5.justify-center
                +list_avatars(xepa)

        div.flex.flex-row.gap-4.py-4.justify-center
            .flex.items-center
                .badge.badge-info A
                p.pl-2 anjo
            .flex.items-center
                .badge.badge-info I
                p.pl-2 imune
            .flex.items-center
                .badge.badge-secondary M
                p.pl-2 monstro

        div.py-2
            p.text-2xl.text-center.py-2 Eliminados
            div.flex.flex-row.flex-wrap.gap-5.justify-center
                +list_eliminados(eliminados)
                    
    .divider.divider-primary
    p.text-3xl.text-center.pb-4 Atividade recente
    .w-fit
        include atividade.pug

    .divider.divider-primary
    p.text-3xl.text-center Votos
    p.text-2xl.text-center.py-2 Clique no número de votos para ver mais informações
    p.text-xl.text-center.py-2 linhas: votos dados por, colunas: votos recebidos por
    .w-full
        include votos.pug

    include paredoes.pug

    .divider.divider-primary
    p.text-3xl.text-center.pb-4 Estalecas e número de objetivos
    .w-full
        include tabela.pug
