.overflow-x-auto
    table.table.table-zebra.table-xs 
        thead.text-xl.text-center
            tr 
                th.text-left(rowspan=2) pessoa
                th(colspan=paredoes.number) paredão
            tr 
                each paredao in [...Array(paredoes.number).keys()] 
                    th= `#${paredao+1}`
        tbody.text-xl.text-center
            each p of all_participants 
                tr
                    td.text-left
                        .flex.items-center.space-x-3
                            .avatar
                                .w-8.rounded
                                    img(src=p.imagem loading="lazy" alt=p.nomePopular)
                            p.text-xl= p.nomePopular
                    each paredao in [...Array(paredoes.number).keys()] 
                        - var currVotos = paredoes.votos[paredao]
                        td.text-xl
                            if (currVotos.indicacao == p._id.nome)
                                p.font-bold.text-error X
                            else
                                p= (p._id.nome in currVotos.normais_unique) ? currVotos.normais_unique[p._id.nome] : ''