.overflow-x-auto
    table.table.table-zebra.table-xs
        thead.text-lg.text-center
            th.text-left pessoa 
            th estalecas
            th anjos
            th imunidades 
            th lideranças 
            th monstros 
            th paredões
            th VIPs 
            th xepas
        tbody.text-center
            - var sorted_participants = all_participants.sort((a, b) => (b.estalecas - a.estalecas))
            //- - sorted_participants = sorted_participants.filter((x) => !x.eliminado)
            - sorted_participants = sorted_participants.sort((a, b) => (Number(a.eliminado) - Number(b.eliminado)))
            each p in sorted_participants 
                tr
                    td
                        a(href=p.url target="_blank")
                            .flex.items-center.space-x-3
                                .avatar
                                    .w-10.rounded
                                        img(src=p.imagem loading="lazy" alt=p.nomePopular)
                                .text-left
                                    if p.eliminado
                                        p.text-lg.line-through= p.nomePopular
                                    else 
                                        p.text-lg= p.nomePopular 
                                    p
                                        if p.lider 
                                            .badge.badge-warning líder
                                        if p.paredao 
                                            .badge.badge-error paredão
                                        if p.anjo 
                                            .badge.badge-info anjo
                                        if p.imune 
                                            .badge.badge-info imune
                                        if p.monstro 
                                            .badge.badge-secondary monstro
                    td.text-lg= p.estalecas 
                    td.text-lg= p.xAnjo > 0 ? p.xAnjo : ''
                    td.text-lg= p.xImune > 0 ? p.xImune : ''
                    td.text-lg= p.xLider > 0 ? p.xLider : ''
                    td.text-lg= p.xMonstro > 0 ? p.xMonstro : ''
                    td.text-lg= p.xParedao > 0 ? p.xParedao : ''
                    td.text-lg= p.xVip > 0 ? p.xVip : ''
                    td.text-lg= p.xXepa > 0 ? p.xXepa : ''