mixin tipo_de_voto(voto)
    if voto.extra 
        if voto.extra.indicacao
            td.text-xl indicação 
        else if voto.extra.minerva 
            td.text-xl desempate
        else if voto.extra.contragolpe 
            td.text-xl contragolpe
        else if voto.extra.veto 
            td.text-xl veto
        else if voto.extra.group_vote 
            td.text-xl consenso em grupo
        else if voto.extra.bigfone 
            td.text-xl big fone
        else if voto.extra.protecao 
            td.text-xl salvar
    else 
        td.text-xl normal


.overflow-x-auto
    table.table.table-xs.table-border
        thead.text-lg
            tr(style='border:none;')
                th(style='border:none;')
                each p of all_participants
                    th(class=`${p.eliminado ? "grayscale" : ""}`)
                        .avatar
                            .w-8.rounded
                                img(src=p.imagem alt=p.nomePopular title=p.nomePopular)
        tbody.text-center
            each pFrom, iFrom in all_participants 
                tr(class=`${pFrom.eliminado ? "" : ""}`)
                    td.text-right(class=`${pFrom.eliminado ? "grayscale" : ""}`)
                        .flex.items-center.justify-end.space-x-3
                            p.text-lg= pFrom.nomePopular
                            .avatar
                                .w-8.rounded
                                    img(src=pFrom.imagem alt=pFrom.nomePopular)
                    each pTo, iTo in all_participants
                        - var nFrom = pFrom._id.nome 
                        - var nTo = pTo._id.nome
                        if pFrom._id.nome == pTo._id.nome 
                            td.text-lg(class=`${pTo.eliminado ? "" : ""}` style='background-color: #777777')
                        else 
                            - var votosFromTo = votos.filter(x => x.from == nFrom && x.to == nTo)
                            - var modalId = `show_${iFrom}_${iTo}`
                            if votosFromTo.length > 0
                                - var bg_color = votos_cores[votosFromTo.length].bg
                                - var fg_color = votos_cores[votosFromTo.length].fg
                                td.text-lg(class=`${pTo.eliminado ? "" : ""}` style=`background-color: ${bg_color}; color: ${fg_color}`)
                                    button(onclick=`${modalId}.showModal()`)= votosFromTo.length
                                    dialog(id=modalId class="modal modal-bottom sm:modal-middle" style=`color: #000000;`)
                                        .modal-box.justify-center
                                            p.text-xl
                                            | Votos de 
                                            span.font-bold= pFrom.nomePopular
                                            |  em 
                                            span.font-bold= pTo.nomePopular

                                            .flex.justify-center.pt-5
                                                .overflow-x-auto
                                                    table.table.table-zebra.table-xs
                                                        thead.text-center
                                                            tr
                                                                th.text-xl paredão 
                                                                th.text-xl tipo de voto
                                                        tbody.text-center
                                                            for voto in votosFromTo
                                                                tr
                                                                    td.text-xl ##{voto.paredao}
                                                                    +tipo_de_voto(voto)
                                            .modal-action 
                                                form(method="dialog")
                                                    button.btn fechar
                                        form.modal-backdrop(method="dialog")
                                            button
                            else
                                td.text-lg(class=`${pTo.eliminado ? "" : ""}` style='background-color: #DDDDDD')